<h1>Message Authentication</h1>
<p>To view this message, please supply your password</p>
<form action="<%= @uri %>" method="post">
	<input type="password" name="password" placeholder="Please confirm your password" />
	<button type="submit">Confirm</button>
</form>