<div class="span3 well">
      <legend>New to Transmission? Sign up!</legend>
    <form accept-charset="UTF-8" action="/signup" method="post">
        <input class="span3" name="email" placeholder="Email" type="text">
        <input class="span3" name="username" placeholder="First Name" type="text">
        <input class="span3" name="password" placeholder="Password" type="password">
        <input class="span3" name="confirm_password" placeholder="Password" type="password">
        <button class="btn btn-warning" type="submit">Sign up for Transmission</button>
    </form>
</div>
